@model IEnumerable<Livro_ProfessionalAsp.NetMVC5_.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>A Very Simple Store</h2>
<div id="dailydeal">
    @Ajax.ActionLink("Click here to see today's special!",
        "DailyDeal",
        null,
        new AjaxOptions
        {
            UpdateTargetId = "dailydeal",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET"
        },
        new { @class = "btn btn-primary" })
</div>
<table class="table table-striped">
    <tr>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Buy", "Buy", 
                new { id = item.AlbumId }, 
                new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>

@section scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}